<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'css/style.css')}}"/>
            <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename = 'css/index.css')}}"/>
            <link rel="icon" type="image/jpg" href="{{ url_for('static', filename = 'image/twice new.jpg')}}" > 
            <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
            <!--link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}"-->
            <title> TWICE NEW </title>
            <meta name = "description" content = "Looks so good they would think it's new">
            <meta name="keywords" content="thrift,online store,store,marketplace,fashion,fashion store">
            <script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}"></script>
        </head>
        <body>

        </body>
    </html>